<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubgEvent</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <nav>
        <img class="logo" onclick="homeredirect()" src="images/gamecon.png" alt="">
        <ul>
            <li><a href="/track">Track your Reward</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
        <div onclick="showmenu()" class="menu" style="display: none;">
            <img src="images/menu.png">
        </div>
    </nav>
    <!-- for mobile users -->
    <div class="mobile" style="display: none;">
        <div class="close-menu">
        <a href="#">X</a>
    </div>
        <a href="/">Home</a>
        <a href="/track">Track your Reward</a>
        <a href="/contact">Contact</a>
        <a href="/faq">FAQ</a>
    </div>
    <script>
        function homeredirect() {
            window.location.href = "/"
        }
        let mobileNav = document.getElementsByClassName("mobile")[0];
        function showmenu() {
            
            mobileNav.style.display = "flex";
            
        }
        document.getElementsByClassName("close-menu")[0].addEventListener('click',()=>{
            mobileNav.style.display="none";
        })
    </script>
</body>

</html>