<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubgEvent</title>
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
        <section class="event">
            <img src="images/event-title.png" alt="">
        </section>
        <div class="msgshow">

        </div>
        <section class="reward">
            <div class="item"><img src="images/rewards/1.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/2.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/3.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/4.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/5.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/6.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/7.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/8.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/9.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/10.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/11.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
            <div class="item"><img src="images/rewards/12.jpg" alt=""><button onclick="claimreward(this)">Claim</button>
            </div>
        </section>
        <footer>
            <div>I have read the Privacy & Policy || agreement</div>
        </footer>
        <script src="script/home.js"></script>
       
</body>

</html>