<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubgEvent</title>
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/track.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
        <div class="trackreward">
            <h1 style="text-align: center; margin-bottom: 5%;">Track your reward</h2>
                <div class="msg" style="background-color: bisque;">
                    <h2>your order is empty!</h2>
                </div>
                <div class="order">
                    <img id="image" src="" alt="">
                    <div class="status">
                        <p class="progress">Status: <br><span id="rewardstatus" style="color: rgb(82, 218, 82);"></span></p>
                        
                        <p class="warn">It may take 24 - 48 hours...</p>
                    </div>
                </div>
        </div>
        <script src="script/track.js"></script>
</body>

</html>