nav {
    display: flex;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    justify-content: space-between;
}

ul {
    display: flex;
    width: 50vw;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

ul li {
    font-size: larger;
    font-weight: bold;
    /* background-color: rgb(49, 137, 231); */
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}
ul li a{
    color: white;
    text-decoration: none;
}

nav>img {
    height: 80px;
    margin-left: 10px;
}
/* for phone users  */
.mobile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition-duration: 0.5s;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    height: 30vh;
    align-items: center;
    padding: 15px;
    border-bottom-left-radius: 16px;
}
.mobile a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
}
.close-menu{
text-align: end;
width: 100%;
}
/* let's make responsive */

@media only screen and (max-width: 964px) {

    nav ul li a:first-child {
        font-size: medium;
    }

    nav img {
        width: 40vw;
    }
}
@media only screen and (max-width: 684px) {
    .menu{
        display: block!important;
    }
    .logo {
        height: 60px;
    }
    nav ul {
        display: none;
    }
    .menu img {
        width: 60px;
        padding: 5px 9px 0px 0px;
        height: 50px;
    }
}
