.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 10px;
    text-transform: uppercase;
}
.order{
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    background-color: black;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    font-size: 2em;
}
.order>img{
    height: 15vw;
    box-shadow: 2px 2px 5px black;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 5px solid rgb(255, 238, 0);
}

.progress{
    color: white;
}
.warn{
    color: red;
}
/* responsiveness */
@media only screen and (max-width: 900px) {
    .order{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 616px) {
    .order{
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 460px) {
    .order{
        font-size: 0.8em;
    }
}